/*
--------------------------------------------
-----------inicio video juegos -------------
--------------------------------------------
*/

.mostrarFormulario {
    display: none;
}

/*
--------------------------------------------
-----------fin video juegos ----------------
--------------------------------------------
*/