/*
--------------------------------------------
-----------inicio video juegos -------------
--------------------------------------------
*/




/* componente cardVideojuego.*/

.videogame-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  3-4 por fila según el ancho */
    grid-template-columns: 1fr 1fr 1fr;
    gap: auto;
    /* espacio entre las cards */
    padding: 20px;
    margin: 20px;
    justify-items: center;
    /* centra las cards horizontalmente */
}

.cardVideoGame {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.cardVideoGame img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}


/* de la página de videojuego  */

.videojuego-h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: cornflowerblue;
}


.botonesVG button{
   margin-right: 40px; 
   padding: 10px;
}

    /*
--------------------------------------------
-----------fin video juegos ----------------
--------------------------------------------
*/